body {
  background-color: hsl(0, 0%, 8%);
  font-size: 0.875rem;
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0rem;
}

.card {
  width: 90%;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  padding: 1.6rem 0rem 1.6rem 0rem;
}

.card__profile-container, .card__social-links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.card__profile-name {
  margin: 1rem 0rem 0rem 0rem;
  font-weight: 600;
}

.card__profile-about {
  margin-bottom: 1.8rem;
  color: hsl(0, 0%, 80%);
}

.card__profile-name, .card__social-link {
  color: hsl(0, 0%, 100%);
}

.card__social-links-container {
  gap: 1rem;
}

.card__social-link {
  background-color: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 100%);
  width: 90%;
  border-radius: 0.5rem;
  padding: 1rem 0rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.card__social-link:hover {
  background-color: hsl(75, 94%, 57%);
  color: #000000;
}

.card__profile-location {
  color: hsl(75, 94%, 57%);
  font-weight: 400;
}

/* 
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  .card {
    width: 40%;
  }
}

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .card {
    width: 30%;
  }
}